:root {
    --color-pink: pink;
    --color-accent: #003366;
}

hr {
    height: 3px;
    width: 75%;
    background-color: var(--color-accent);
}

#header {
    padding: 50px 0px 0px 0px;
    line-height: 0px;
}

body {
    background-color: var(--color-pink);
    color: var(--color-accent);
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    padding: 20px 20px 0px 20px;
}

.border {
    margin: 5px, 0px, 0px 0px;
    border-radius: 2%;
    width: 75%;
    height: auto;
    border-color: var(--color-accent);
    border-width: 3;
    border-style: solid;
}

.page-style {
    outline: none;
    border-radius: 3px;
    border: 0px;
    padding: 5px;
    background-color: var(--color-accent);
    color: var(--color-pink);
}

input::placeholder {
    color: var(--color-pink);
}

textarea::placeholder {
    color: var(--color-pink);
}

button:hover {
    background-color: #1b262c;
    color: white;
}